.git
.gitignore
.dockerignore
docker-compose.override.yml


node_modules/
vendor/


public/storage


.env
.env.docker
.env.example

*.log
.phpunit.result.cache
.phpunit.cache/
bootstrap/cache/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
